body {
  display: flex;
  margin: 0;
  padding: 0;
}
#scene,
#clouds,
#lightening {
  width: 100%;
}
#scene {
  background: linear-gradient(to bottom left, darkblue, black);
  height: 150vh;
}
#clouds {
  background-color: #333;
  height: 210px;
}
#lightening {
  margin-top: -1.5em;
  height: 50%;
  z-index: 3;
}
#bolt {
  position: relative;
  left: 0;
  animation: moveBolt 12s infinite ease-in;
}
/*
https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp
*/
@keyframes moveBolt {
  0% { left: 0; top: 0; opacity: 1; }
  25% { left: 25%; top: -3em; opacity: 0; }
  50% { left: 50%; top: 0; opacity: 1; }
  100% { left: 100%; top: -3em; opacity: 0; }
}
